.my-login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containers{
    max-width: 400px;
    border-radius: 20px;
}
.cards{
    border-radius: 10px;
    height:600px;
    background-image: linear-gradient(to right,#0084ff,#00f2f2);
    border: none;
    overflow: hidden;
    box-shadow: 0px 5px 8px #414141;
    box-sizing: border-box;
    z-index: 0;
    padding: 0 30px;
}
.circle{
    position: absolute;
    bottom: -230px;
    left: 30%;
    transform: translate(-50%,-50%);
    background: #fff;
    clip-path: circle(50%);
    height: 700px;
    width: 700px;
    z-index: -1;
    overflow: hidden;
}
.myHed{
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    background-clip: text;
}
.fa-solid{
    position: relative;
    display: block;
    left: -97px;
    top:30px;
    color: white;
    
}
.button{
    width: 250px;
    border-radius: 20px;
    background-image: linear-gradient(to right,#0084ff,#00f2f2);
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding: 8px;
}
.my-input{
    width: 250px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right,#0084ff,#00f2f2);
    display: block;
}
.my-input::placeholder{
    color: #fff;
    opacity: 0.6;
}
.my-input:focus{
    border: none;
    outline: none;
}
.WELL{
    border-radius: 10px;
}
